// create a new section, copy & paste the code
<section id="pdp_faq">
	<div class="pdp_faq_wrapper">
		<dl class="faqAccordion">
			<h2 class="title faq--heading">{{ section.settings.heading_title }}</h2>  
          {%- for block in section.blocks -%}
          <dt><button type="button" aria-controls="panel-0{{ forloop.index }}" aria-expanded="false"><h3>{{ block.settings.faq_question}}</h3></button></dt> 
			<dd class="faq-items" id="panel-0{{ forloop.index }}" aria-hidden="true" style="display: none;">
				{{ block.settings.faq_content }}
			</dd>
          {%- endfor -%}
          
		</dl>
	</div>
</section>

{% schema %}
  {
	"name": "Rich text",
    "class": "index-faq-section",
    "max_blocks": 10,
    "name": "FAQ",
    "settings": [
		{
          "type": "text",
          "id": "heading_title",
          "label": "Heading"
        }
	],
	"blocks" : [
      {
        "type": "faq",
        "name": "FAQ items",
        "settings": [
          {
            "type": "text",
            "id": "faq_question",
            "label": "Question"
          },	
          {
            "id": "faq_content",
            "type": "richtext",
            "label": "Content"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
